memory-bank/
dev/
.vscode
.roomodes
.roo/
node_modules/
package-lock.json
package.json
!config/*
rooflow_logo_raw.png
output.log
claude-code-prompt.txt
backup/
.venv
.venv/
config-old/
system_prompt.md
build/*
dist/
generate_mcp_yaml
install_rooflow.sh